.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-wrap {
  background: #222;
}
.search-wrap>.container {
  padding: 20px 0;
}
.search-wrap label {
  color: #fff;
}

.results-wrap {
  background: #ddd;
  padding-top: 0.1rem;
}

h5 {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
